<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | Marketplace</title>
</head>
<body>
    <nav class="p-6 flex justify-between items-center border-b border-gray-200">
        <a href="/" class="text-xl font-semibold">Market</a>
    </nav>
    <div class="p-6">
        {% block stuff %}
        {% endblock %}
    </div>
</body>
</html>